# Workflow was stolen from Rojo. Thanks Rojo!

name: CI

on:
  push:
    branches:
      - rewrite
      - 0.6.x
    paths: 
      - '**.rs'
      - Cargo.{lock,toml}

  pull_request:
    branches:
      - rewrite
      - 0.6.x
    paths: 
      - '**.rs'
      - Cargo.{lock,toml}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal

      - name: Build
        run: cargo build --locked --verbose

      - name: Test
        run: cargo test --locked --verbose

  lint:
    name: Rustfmt & Clippy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Rustfmt
        run: cargo fmt -- --check

      - name: Clippy
        run: cargo clippy
